header {
  padding: 15px 0;
  background: var(--bg-dark);
  color: white;

}

.logo {
  width: fit-content;
  padding: 0 2px;
}
.logo span {
  color: orange;
  text-shadow: 0 0 8px #d6c091;
  animation: anim-logo 1.5s linear infinite;
  transform: translate(0);
  display: inline-block;
  -webkit-text-stroke: .5px #ffffff;
}
.logo span:nth-child(1) {animation-delay: .1s;}
.logo span:nth-child(2) {animation-delay: .3s;}
.logo span:nth-child(3) {animation-delay: .5s;}
.logo span:nth-child(4) {animation-delay: .7s;}
.logo span:nth-child(5) {animation-delay: .9s;}
.logo span:nth-child(6) {animation-delay: 1.1s;}
.logo span:nth-child(7) {animation-delay: 1.3.s;}
.logo span:nth-child(8) {animation-delay: 1.5s;}
@keyframes anim-logo {
  0% {
    transform: translateY(-2px) rotate(-10deg);
    color: #ffffff;
  }
  25% {
    transform: translateY(0px) rotate(0deg);
    color: orange;
  }
  50% {
    transform: translateY(-2px) rotate(10deg);
    color: #e6d435;
  }
  75% {
    transform: translateY(2px) rotate(00deg);
    color: #00ffea;
  }
  100% {
    transform: translateY(-2px) rotate(-10deg);
    color: white;
  }
}
.logo a {
  color: white;
  font-size: 1.5em;
}
.content-nav {
  width: fit-content;
}

.nav-link li {
  margin-left: 40px;
}
.nav-link li a {
  color: white;
}
.nav-link li a::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: orange;
  top: 0;
  left: 0;
  z-index: 10;
}