* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --blue: #86a8d3;
  --dark: #4e4e4e;
  --light: #ffffff;
  --danger: #ff3d3d;
}
body{
  background-color: rgb(0, 0, 0) ;
  overflow-x: hidden;
}

@font-face {
  font-family: 'along';
  src: url(./../public/assets/fonts/AlongSanss2-Thin.otf);
}
@font-face {
  font-family: 'chopin';
  src: url(./../public/assets/fonts/Chopin-Light.ttf);
}
@font-face {
  font-family: 'geo';
  src: url(./../public/assets/fonts/GeosansLight.ttf);
}

.navBar a {
  font-family: 'chopin';
}
.nav{
  width: 100vw;
  height: 80px;
   display: flex;
  justify-content: center;
  align-items: center;
}
.navBar h1{
  font-size: 50px;
}
.navBar{
  border: 1px solid rgba(163, 163, 163, 0.205);
  border-radius: 20px;
  color: white;
  background-color: rgba(31, 31, 31, 0.767);
  margin-left: 1%;
  height: 80px;
  width: 95%;
  font-size: 14px;
  margin-top: 100px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar ul{
   display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar li{
  position: relative;
  list-style: none;
  margin: 20px;
  font-weight: bold;
}
.navBar li a{
  text-decoration: none;
    color: white;
}
.navBar li a:hover{
  color: orange;
}

.navBar button{
  cursor: pointer;
  background-color: orange;
  padding: 15px 50px;
  border: none;
  color: white;
  border-radius: 10px;
  transition: 1s;
}
.navBar button:hover{
  background-color: transparent;
  border: 1px solid orange;
  color: orange;
}




