* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;

:root {
  --blue: #86a8d3;
  --dark: #4e4e4e;
  --light: #ffffff;
  --danger: #ff3d3d;
}
body{
  background-color: rgb(0, 0, 0) ;
  overflow-x: hidden;
}
}
:root {
  --dark: #181a1e;
  --success: #415479;
  --danger: #ff8b3e;
  --light: #fff;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.div-bgi {
  background-size: cover;
  background-position: center;
}
.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}

.justify-start {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.flex {
  display: flex;
}
.bg-danger {
  background: var();
}


@font-face {
  font-family: 'along';
  src: url(./../public/assets/fonts/AlongSanss2-Thin.otf);
}
@font-face {
  font-family: 'chopin';
  src: url(./../public/assets/fonts/Chopin-Light.ttf);
}
@font-face {
  font-family: 'geo';
  src: url(./../public/assets/fonts/GeosansLight.ttf);
}

.navBar a {
  font-family: 'chopin';
}


.mini_description__titre {
  line-height: .7cm;
  font-family: 'chopin';
}
.nav{
  width: 100%;
  height: fit-content;
   display: flex;
  justify-content: center;
  align-items: center;
}
.navBar h1{
  font-size: 50px;
}
.navBar{
  border: 1px solid #a3a3a334;
  border-radius: 20px;
  color: white;
  background-color: #00000009;
  height: 80px;
  width: 95%;
  font-size: 14px;
  margin-top: 30px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar ul{
   display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar li{
  position: relative;
  list-style: none;
  margin: 20px;
  font-weight: bold;
}
.navBar li a{
  text-decoration: none;
    color: white;
}
.navBar li a:hover{
  color: var(--danger);
}

.navBar button{
  cursor: pointer;
  background-color: var(--danger);
  padding: 15px 50px;
  border: none;
  color: white;
  border-radius: 10px;
  transition: 1s;
  font-size: 1em;
}
.navBar button:hover{
  background-color: transparent;
  border: 1px solid var(--danger);
  color: var(--danger);
}
#home {
  width: 100%;
  height: 100vh;
  background-image: url(./../public/assets/img/bg_home.jpg);
  color: var(--light);
  overflow: hidden;
}

.containers {
  margin: auto;
  width: 90%;
  padding: 10px 0;
}

.box__home {
  margin-bottom: 1cm;
}

.intro-titre {
  color: var(--danger);
  font-weight: bold;
  font-family: 'chopin';
  font-size: 1.5em;
  margin-top: 30px;
}
.grand__titre_home {
  font-weight: bolder;
  font-size: 2em;
  font-family: 'chopin';
  line-height: 2cm;
  color: var(--light);
  margin-bottom: 70px;

}
.grand__titre_home span {
  color: var(--danger);
  font-size: 1em;
  text-shadow: 0 0 20px #c0fff588;
}


.info__home {
  width: 13cm;
  height: fit-content;
  
}

.div_btn_home {
  width: fit-content;

}
.div_btn_home button {
  background: var(--danger);
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: bolder;
  box-shadow: 0 0 20px #85858560;
  border: none;
  border-radius: 1rem;
  border: 2px solid var(--danger);
  transition: .5s;
}

.div_btn_home button:hover {
  background: #f5f5dc00;
  color: var(--danger);
}




.profile_home {
  margin-left: 2cm;
  width: fit-content;
}
.profile_user_home {
  border: 3px solid var(--light);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -10px;
}

.profile_user_home img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




#text-home {
  display: block;
  margin-top: -40px;
  margin-bottom: 30px;
}
.text__homme {
  width: 55%;
}
.img__homme {
  width: 13cm;
  animation: mouve-human 5s linear infinite;
  
}
@keyframes mouve-human {
  0% {
    transform: translate(1em,0em);
  }
  50% {
    transform: translate(0em,1em);
  }
  100% {
    transform: translate(1em,0em);
  }
}
