* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --blue: #86a8d3;
  --dark: #252525;
  --light: #ffffff;
  --danger: #ff3d3d;
}

@font-face {
  font-family: 'along';
  src: url(./../public/assets/fonts/AlongSanss2-Thin.otf);
}
@font-face {
  font-family: 'chopin';
  src: url(./../public/assets/fonts/Chopin-Light.ttf);
}
@font-face {
  font-family: 'geo';
  src: url(./../public/assets/fonts/GeosansLight.ttf);
}

a {
  font-family: 'chopin';
}