* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
}
:root {
  --blue: #86a8d3;
  --blue1: #e6e6e6;
  --dark: #252525;
  --light: #ffffff;
  --danger: #ff3d3d;
  --success: #309247;
}

@font-face {
  font-family: 'along';
  src: url(./../public/assets/fonts/AlongSanss2-Thin.otf);
}
@font-face {
  font-family: 'chopin';
  src: url(./../public/assets/fonts/Chopin-Light.ttf);
}
@font-face {
  font-family: 'geo';
  src: url(./../public/assets/fonts/GeosansLight.ttf);
}

a {
  font-family: 'chopin';
}
.chopin {
  font-family: 'chopin';
}
.along {
  font-family: 'along';
}
.geo {
  font-family: 'geo';
}

.text-success {
  color: var(--success);
}
.text-danger {
  color: var(--danger);
}


.hero__section {
  background: radial-gradient(#fff, #7a7a7a);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__section .center {
  background: white;
  border-radius: 1.5rem;
  padding: 2rem;
  min-width: 50%;
  max-width: 50%;
  width: 50%;
}
.span_g1 {
  color: var(--danger);
}
.text-bold {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td {
  padding: 6px 5px;
  background: #ffffff;
  font-family: 'chopin';
  font-weight: bold;
  border: 1px solid #8b8b8b;
  text-align: center;
  letter-spacing: 1px;
}
.td__title {
  background: #8b8b8b;
  color: var(--light);
}
.td__nom {
  transition: .5s;
  background: var(--light);
}
h1 {
  display: flex;
  align-items: center;
  justify-content: start;
}
.hr {
  padding: 4px 0;
  width: 4cm;
  background: linear-gradient(var(--danger), var(--light));
  margin-left: 10px;
  border-radius: 10px;
}

.annonce {
  width: 100%;
  margin: 20px auto;
  text-align: justify;
  padding: 20px;
  border-radius: 1rem;
  border: 1px solid #8b8b8b;
}