header {
  padding: 15px 0;
  background: var(--bg-dark);
  color: white;

}

.logo {
  width: fit-content;
  padding: 0 2px;
}

.logo span {
  color: #ffcd71;
  text-shadow: 0 0 8px #d6c091;
  animation: anim-logo 1.5s linear infinite;
  transform: translate(0);
  display: inline-block;
  -webkit-text-stroke: .5px #ffffff;
}

.logo span:nth-child(1) {
  animation-delay: .1s;
}

.logo span:nth-child(2) {
  animation-delay: .3s;
}

.logo span:nth-child(3) {
  animation-delay: .5s;
}

.logo span:nth-child(4) {
  animation-delay: .7s;
}

.logo span:nth-child(5) {
  animation-delay: .9s;
}

.logo span:nth-child(6) {
  animation-delay: 1.1s;
}

.logo span:nth-child(7) {
  animation-delay: 1.3.s;
}

.logo span:nth-child(8) {
  animation-delay: 1.5s;
}

.logo a {
  color: white;
  font-size: 1.5em;
}

.content-nav {
  width: fit-content;
}

.nav-link li {
  margin-left: 40px;
}

.nav-link li a {
  color: white;
  display: flex;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  transition: .2s;
}
.nav-link li a:hover {
  color: #ffcd71;
  transform: scale(1.03);
}

.responsive-bar-nav {
  display: block;
  width: 25px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.responsive-bar-nav span {
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  margin: 2px 0;
  border-radius: 3px;
  transition: .5s linear;
}
.neutre {
  transition: .1s;
}
.i-nav {
  margin-right: 2px;
}
.responsive-bar-nav:hover span:nth-child(1) {
  transform: rotate(45deg);
  margin-top: 0;
  background: #ffcd71;
}
.responsive-bar-nav:hover span:nth-child(3) {
  transform: rotate(-45deg);
  margin-top: -8px;
  background: #ffcd71;
}
.responsive-bar-nav:hover span:nth-child(2) {
  transform: rotate(0deg) translateY(10px);
  opacity: 0;
  margin: 0;
}